
@{
    ViewData["Title"] = "Access Denie";
}

<h2>Access Denied</h2>

<div class="container">
    <div class="h3">You are not allowed here. Go away!</div>
    <div>Logon with someone else | <a asp-controller="Home" asp-action="Logout">Logout here!</a></div>
</div>
